
.App {
  font-family: 'Roboto', sans-serif;

}
.border-red{
  border-width: 1px;
  border-color: red;
  border-style: solid;
}
.border-white{
  border-width: 1px;
  border-color: white;
  border-style: solid;
}
#promotion-image{
  flex: 1 1 50%;
  padding-left:10%;
  padding-right:10%;
  max-height:100%;
  max-width:100%;
  animation: float-anim 8s ease-in-out infinite;
  box-sizing: border-box;  
  /* align-items:center; */
}
#promotion-text{
  padding-top:5%;
  box-sizing: border-box;
  flex: 1 1 50%;
  color: #FFF;
  padding-right: 17%;
}
#promotion-title{
  word-spacing: 5px;
  font-size: 32px;
  text-align: left;
  margin: 0;
}
#promotion-paragraph{
  margin: 5px 0 0 0;
  font-size: 17px;
  opacity: 0.65;
  text-align: left;
}
#promotion-button{
  font-size: 12px;
  color:#fff;
  margin-top:30px;
  border: none;
  border-radius: 2px;
  width: 120px;
  height: 40px;
  background-image:linear-gradient(to right,#5ECDEB,#497CD7);
  background-size: 200% auto;
  box-shadow: 0;
}
.container-col {
  flex:1;
  display: flex;
  flex-direction: column;
  
}
.container-row {
  flex:1;
  display: flex;
  flex-direction: row;
}

.App-header {
  background-image: linear-gradient(to bottom left, #0C035B, #5B70E2);
  height: 600px;
  display:flex;
}
.navbar{
  display: flex;
  justify-content: space-between;
  flex: 0.3 ;
  flex-direction: row;
  align-items: center;
}
.navbar * {
  box-sizing: border-box;
}
.navbar>ul>li{
  color:#FFF;
  flex:1;
}
.promotion{
  flex:1;
}
.logo{
  margin-left: 50px;
  display: flex;
  align-items: flex-start;
  flex:0.5;
  text-decoration: none !important;
}
.container-nav {
  align-items: center;
  text-align: center;
  list-style: none;
  flex:1;
  display: flex;
  flex-direction: row;
}
.logo a,
.container-nav a {
  color:#FFF;
	text-decoration: none;
	text-align: center;
	display: block;
}
.container-nav a {
  opacity: 0.5;
}
#download{
  margin-left: 10px;
  height: 30px;
  background-image: linear-gradient(to right,#FAB3C1,#E45D97);
  color:#fff;
  border: none;
  border-radius: 2px;
  width: 120px;
  height: 40px;
  background-size: 100% auto;
  box-shadow: 0;
  margin-right: 50px;

}
#download a{
  margin-left: 25%;
  opacity: 1;
}
.brand-images{
  margin: 0 12% 0 12%;
  align-items: center;
  height: 200px;
  display: flex;
  flex-direction: row;

}
.brand-images img{
  opacity: 0.5;
  object-fit: contain;
  flex:1 ;
  width: 80px;
  height: 80px;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes float-anim {
	0% {
		transform: translate3d(0, 0, 0);	
	}
	45% {
		transform: translate3d(0, -10%, 0);	
	}
  55% {
		transform: translate3d(0, -10%, 0);	
	}	
	100% {
		transform: translate3d(0, 0, 0);
	}		
}

